@media screen and (max-width:1280px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 1180px;
    }

    #services .col-item-4 {
        width: 80%;
    }

    .work-item,
    .team-member {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 100px;
    }

    .col-item-4,
    .col-team-4 {
        margin: 0 auto;
    }

    .work-item {
        grid-column-gap: 20px;
    }

    .about-item {
        width: 70%;
    }
}

@media screen and (min-width:981px) {

    #check,
    #btn,
    #cancel {
        display: none !important;
    }

}

@media screen and (max-width:980px) {

    body {
        font-size: 14px;
    }

    .container {
        max-width: 840px;
    }

    .hero-text {
        width: 80%;
        margin: auto;
    }

    .hero-text .btn {
        padding: 150px 10px 0 50px;
    }

    .menu {
        position: absolute;
        left: -200px;
        width: 200px;
        height: 100%;
        background: transparent;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    .menu .logo {
        display: none;
    }

    .menu ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 120%;
        color: white;
        padding-left: 100px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top-right-radius: 10px;
        border-top: 1px solid rgba(255, 255, 255, .1);
        -webkit-transition: .4s;
        transition: .4s;
        font-family: overpass !important;
    }

    .menu ul li:hover a {
        padding-left: 120px;
    }

    .menu ul a i {
        margin-right: 16px;
    }

    #check {
        display: none;
    }

    label #btn,
    label #cancel {
        position: absolute;
        background: #042331;
        border-radius: 3px;
        cursor: pointer;
    }

    label #btn {
        left: 10%;
        top: 25px;
        font-size: 35px;
        color: white;
        padding: 6px 12px;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    label #cancel {
        z-index: 99999999999999999;
        left: -155px;
        top: 20px;
        cursor: pointer;
        font-size: 30px;
        color: #0a5275;
        padding: 4px 9px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    #check:checked ~ .menu {
        left: 0;
    }

    #check:checked ~ label #btn {
        left: 200px;
        opacity: 0;
        pointer-events: none;
    }

    #check:checked ~ label #cancel {
        left: 155px;
    }

    ul {
        right: 50px;
    }

    #services .col-item-4 {
        width: 70%;
    }

    .col-item-4 .service-item-text,
    .col-team-4 .team-about-text {
        font-size: 100%;
    }

    .skill-text p,
    .portfolio-text p {
        width: 80%;
    }

    .grid-work-container {
        grid-auto-rows: minmax(150px, auto);
    }

    .portfolio-filter button {
        font-size: 120%;
    }

    .about-item {
        width: 100%;
    }

}

@media screen and (max-width:780px) {
    .overly {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .container {
        max-width: 78%;
    }

    #skill .container,
    #portfolio .container {
        max-width: 100%;
    }

    .work-item,
    .team-member {
        grid-template-columns: 1fr;
        grid-row-gap: 100px;
    }

    .skill-bar {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
    }

    #services .col-item-4 {
        width: 50%;
    }

    .col-skill-4 p {
        font-size: 100%;
    }

    .portfolio-filter button {
        padding: 5px 10px;
        margin: 5px;
    }

    .about-item {
        grid-template-columns: 1fr;
    }

    .clientReview p {
        font-size: 100%;
        line-height: 1.5;
    }

    #subject {
        width: 350px !important;
    }
}

@media screen and (max-width:680px) {
    .container {
        max-width: 75%;
    }
}

@media screen and (max-width:480px) {
    .container {
        max-width: 90%;
    }

    .hero-text {
        padding: 150px 10px 0 150px;
    }

    .btn {
        padding: 50px 0 100px 150px;
    }

    #portfolio .btn {
        padding: 50px;
    }

    .col-item-4:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .grid-work-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .clientReview,
    .clientPhoto {
        float: none;
    }

    .clientReview {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .col-about-4 {
        padding: 20px 0;
    }

    #contact .btn {
        padding: 0;
        padding-bottom: 20px;
    }

    .col-team-4 {
        margin: 0 auto;
    }

    #subject,
    input {
        width: 300px !important;
    }
}

@media screen and (max-width:380px) {
    .hero-text p {
        font-size: 200%;
    }

    .service-text h2,
    .team-text h2,
    .skill-text h2,
    .portfolio-text h2 {
        font-size: 200%;
    }


    .btn button {
        padding: 5px 20px;
    }

    .skill-bar {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width:280px) {

    #subject,
    input {
        width: 230px !important;
    }
}
